// Tillfällig vy för att testa uppladdning av filer med testdata.

@{
    ViewData["Title"] = "Ladda upp";
}

<h2>Ladda upp produktfil</h2>

<form method="post" action="/Upload/Upload" enctype="multipart/form-data">
    <input type="file" name="file" accept=".xlsx,.xml" />
    <button type="submit">Importera</button>
</form>

@if (ViewBag.Count != null)
{
    <p>Importerade @ViewBag.Count produkter</p>
    <p>
        ● Fullständig: @ViewBag.FullCount &nbsp;
        ● Begränsad: @ViewBag.LimitedCount &nbsp;
        ● Otillräcklig: @ViewBag.InsufficientCount
    </p>

    <table>
        <thead>
            <tr>
                <th>Produktnamn</th>
                <th>Varumärke</th>
                <th>VariantId</th>
                <th>Datakvalitet</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in ViewBag.Products)
            {
                <tr>
                    <td>@product.DisplayName</td>
                    <td>@product.Brand</td>
                    <td>@product.VariantId</td>
                    <td>@product.DataQuality</td>
                </tr>
            }
        </tbody>
    </table>
}